@model User
@{
    ViewData["Title"] = "Change User Info";
}
<div class="page-info">
    <h2>Change Your Information</h2>
    <hr />
    <form asp-controller="User" asp-action="ChangeUserInfo" method="post">
        <p><label asp-for="Email">Update Email</label></p>
        <p>
            <input type="text" asp-for="Email" placeholder="@Model.Email" />
            <span asp-validation-for="Email"></span>
        </p>
        <p><label asp-for="FirstName">Update First Name</label></p>
        <p>
            <input type="text" asp-for="FirstName" placeholder="@Model.FirstName" />
            <span asp-validation-for="FirstName"></span>
        </p>
        <p><label asp-for="LastName">Update Last Name</label></p>
        <p>
            <input type="text" asp-for="LastName" placeholder="@Model.LastName"/>
            <span asp-validation-for="LastName"></span>
        </p>
        <p><label asp-for="PhoneNumber">Update Phone Number</label></p>
        <p>
            <input type="text" asp-for="PhoneNumber" placeholder="@Model.PhoneNumber" />
            <span asp-validation-for="PhoneNumber"></span>
        </p>
        <p><label asp-for="County">Update County</label></p>
        <p>
            <select asp-for="County" asp-items="mutual_aid.Models.Account.RegisterViewModel.OhioCounties" class="dropbtn"></select>
        </p>
        <p><input type="submit" value="Update Info" class="btn btn-primary" /></p>
    </form>
</div>