@model User
@{
    ViewData["Title"] = "ChangeUserPassword";
}

<div class="page-info">
    <h1>Change Your Password</h1>
    <form asp-controller="User" asp-action="ChangeUserPassword" method="post">
        <p>
            <label asp-for="Password">Current Password</label>
        </p>
        <p>
            <input type="password" asp-for="Password" placeholder="enter current password" />
            <span asp-validation-for="Password"></span>
        </p>
        <p><label asp-for="NewPassword">New Password</label></p>
        <p>
            <input type="password" asp-for="NewPassword" placeholder="enter new password" />
            <span asp-validation-for="NewPassword"></span>
        </p>

        @*<p><label asp-for="ConfirmNewPassword">Confirm New Password</label></p>
        <p>
            <input type="password" asp-for="ConfirmNewPassword" placeholder="confirm new password" />
            <span asp-validation-for="ConfirmNewPassword"></span>
        </p>*@
        <input type="submit" value="Change Password" class="btn btn-default" />
    </form>
</div>