@{
    ViewData["Title"] = "Home Page";
}

<div class="page-info">
    <p>@TempData["LogOffSuccess"]</p>
    <h2>Welcome</h2>
    <hr />
    <p>Use this website to see what other's in your community may need in these rough times.</p>
</div>
