@model Request
@{
    ViewData["Title"] = "ViewRequestsByCounty";
}

<div class="page-info">
    <h2>View Requests By County</h2>

    <form asp-controller="Requests" asp-action="ViewRequestsByCountyResult" method="get">

        <p><label asp-for="County">Choose County:</label></p>
        <p>
            <select asp-for="County" asp-items="Model.Counties"></select>
        </p>

        <button type="submit">Search</button>
    </form>
</div>
