@model mutual_aid.Models.Account.RegisterViewModel

@{
    ViewData["Title"] = "Create New User";
}

<div class="page-info">
    <h2>Create New User</h2>
    <form asp-action="CreateNewUser" asp-controller="Admin" method="post">

        <p><label asp-for="Email" class="control-label">Email</label></p>
        <p>
            <input asp-for="Email" type="text" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </p>

        <p>
            <label asp-for="Password" class="control-label">Password</label>
        </p>
        <p>
            <input asp-for="Password" type="password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </p>

        <p>
            <label asp-for="ConfirmPassword" class="control-label">Confirm Password</label>
        </p>
        <p>
            <input asp-for="ConfirmPassword" type="password" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </p>

        <p>
            <label asp-for="FirstName" class="control-label">First Name</label>
        </p>
        <p>
            <input asp-for="FirstName" type="text" class="form-control" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </p>

        <p>
            <label asp-for="LastName" class="control-label">Last Name</label>
        </p>
        <p>
            <input asp-for="LastName" type="text" class="form-control" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </p>

        <p>
            <label asp-for="PhoneNumber" class="control-label">Phone Number</label>
        </p>
        <p>
            <input asp-for="PhoneNumber" type="text" class="form-control" />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </p>

        <p>
            <label asp-for="County" class="control-label">County</label>
        </p>
        <p>
            <select asp-for="County" asp-items="mutual_aid.Models.Account.RegisterViewModel.OhioCounties" class="dropbtn"></select>
            <span asp-validation-for="County" class="text-danger"></span>
        </p>

        <p>
            <div class="checkbox">
                <label><input asp-for="isAdmin" /> @Html.DisplayNameFor(model => model.isAdmin)</label>
            </div>
        </p>
        <input type="submit" value="Create User" class="btn btn-primary" />

    </form>
</div>

