@model List<User>
@{
    ViewData["Title"] = "Update User Password";
}

<div class="page-info">
    <h2>Update User Password</h2>
    <p>Please click on a user to edit their password</p>
    <hr />
    @foreach (User user in Model)
    {
        <form asp-controller="Admin" asp-action="EditUserInfoPassword" method="get">
            <input type="submit" value="@user.LastName, @user.FirstName" class="btn btn-primary" /><br />
            <input type="hidden" asp-for="@user.Email" name="userEmail" class="form-control" />
        </form>
    }
</div>

