
@{
    ViewData["Title"] = "Request Confirmation";
}

<div class="page-info">
    <h2>Request Confirmation: Completed</h2>
    <hr />
    <p>Thank you for completing this request. Your help is much appreciated in the community.</p>
</div>
