@model Request
@{
    ViewData["Title"] = "View Requests By County";
}
<div class="page-info">
    <h2>View Requests By County</h2>
    @if (Model.Counties.Count == 0)
    {
        <p>@TempData["NoRequests"] </p>
    }
    else
    {
        <p>
            Here's a reference of where all counties in Ohio are:
            <a href="https://en.wikipedia.org/wiki/List_of_counties_in_Ohio">Ohio County Locations</a>
        </p>
        <hr />
        <form asp-controller="Admin" asp-action="ViewAllRequestsByCountyResult" method="get">

            <p><label asp-for="County">Choose County:</label></p>
            <p>
                <select asp-for="County" asp-items="Model.Counties"></select>
            </p>

            <button type="submit">Search</button>
        </form>
    }
</div>